<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Slack</title>
  </head>

  <body>
    <div>
      <img src="{{ user.image_48 }}" alt="profile pic">
      <h3>{{ user.name }}</h3>
    </div>
    <div>
      <form name="git-form" action="/map-git">
        <input type="hidden" value="{{ user.id }}">
        <input id="github_id" type="text" value="{{ github_id || '' }}" placeholder="fill your github id">
      </form>
    </div>
  </body>
</html>
