<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Slack</title>
  </head>

  <body>
    <div>
      <img src="{{ user.image_48 }}" alt="profile pic">
      <h3>{{ user.name }}</h3>
    </div>
    <div>
      <form name="info-form" id="info_form" action="/update-info" method="POST" enctype="application/x-www-form-urlencoded">
        <input id="user_id" type="hidden" value="{{ user.id }}">
        <input id="github_id" type="text" value="{{ user.github_id || '' }}" placeholder="fill your github id">
        <input type="submit" value="Save">
      </form>
    </div>
    <script>
      document.getElementById('info_form').addEventListener('submit', (e) => {
        e.preventDefault();
        const form = e.target;

        fetch(form.action, {
          method: form.method.toUpperCase(),
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            user_id: form.user_id.value,
            github_id: form.github_id.value,
          }),
        });
      })
    </script>
  </body>
</html>
